[program:django-element43]
command=/home/element43/virtualenvs/element43/bin/django-admin.py runserver --settings={{ e43_django_settings_module }} 0.0.0.0:80
directory=/home/element43/element43/webapp
environment = PYTHONPATH="$PYTHONPATH:/home/element43/element43/webapp"
redirect_stderr=true
stdout_logfile=/var/log/element43/element43.log
autostart=true
autorestart=true
stopsignal=KILL

[program:pathfind-element43]
command=/home/element43/virtualenvs/element43/bin/python /home/element43/element43/pathfind/pathfind.py
directory=/home/element43/element43/pathfind
environment = PYTHONPATH="$PYTHONPATH:/home/element43/element43/webapp"
redirect_stderr=true
stdout_logfile=/var/log/element43/pathfind43.log
autostart=true
autorestart=true
stopsignal=KILL

[program:celerybeat-element43]
command=/home/element43/virtualenvs/element43/bin/celery beat -A element43 --loglevel=WARN
directory=/home/element43/element43/webapp
environment = PYTHONPATH="$PYTHONPATH:/home/element43/element43/webapp", DJANGO_SETTINGS_MODULE={{ e43_django_settings_module }}
user=element43
numprocs=1
redirect_stderr=true
stdout_logfile=/var/log/element43/celerybeat43.log
stderr_logfile=/var/log/element43/celerybeat43.log
autostart=true
autorestart=true
startsecs=10

; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.
stopwaitsecs = 600
stopsignal=TERM

[program:celery-element43]
command=/home/element43/virtualenvs/element43/bin/celery worker -P eventlet -c 3 -A element43 --loglevel=WARN
directory=/home/element43/element43/webapp
environment = PYTHONPATH="$PYTHONPATH:/home/element43/element43/webapp", DJANGO_SETTINGS_MODULE={{ e43_django_settings_module }}
user=element43
numprocs=1
redirect_stderr=true
stdout_logfile=/var/log/element43/celery43.log
stderr_logfile=/var/log/element43/celery43.log
autostart=true
autorestart=true
startsecs=10

; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.
stopwaitsecs = 600
stopsignal=TERM

[program:node-43]
command=/usr/bin/node /home/element43/node-43/app.js
redirect_stderr=true
stdout_logfile=/var/log/element43/node43.log
user=element43
autostart=false
autorestart=true
stopsignal=KILL

[group:element43]
programs=django-element43,pathfind-element43,celerybeat-element43,celery-element43,node-43